body {
  margin: 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: red;
}

#video-container {
  width: 80%;
  max-width: 800px; /* Optional: Set a max width for larger screens */
}

header {
  height: 50px;
  background-color: bisque;
}

video {
  width: 100%;
  height: auto;
}
